.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  height: 100vh;
}

body {
    font-family: sans-serif;
}

.input-elem {
	font-size:20px;padding:10px;
	margin:10px;
	margin-left: 0px;
}

#container {
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 20px;
    display: flex;
    flex-flow: column
}


.child-1 {
	display: flex;
	flex-flow:column nowrap;
	width:100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.child-1-cw {
	margin:auto;
	margin-top: 10px; 
	margin-right: 10px;
}

.child-1-hg {
	display:flex;
	flex-flow: row;
}

.tooltip { margin-left:3px; }

button {
  padding: 1rem;
  border-radius: 12px;
  outline: none;
  background-color: #f1f3f5;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connect-wallet-btn {
  position: absolute;
  top: 0;
  right: 0;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

button + button {
  margin-top: 1rem;
}

button {
	border:none;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
}

.text-error {
  color: #ff6b6b;
}
